.bar {
    position: relative;
    height: 1.5rem;
    background-color: #eeeeee;
}

.progress {
    position: absolute;
    left: 0;
    height: inherit;
    transition: width 0.5s;
    transition-delay: 0.2s;
}

.progressHead {
    position: absolute;
    left: 0;
    height: inherit;
    transition: width 0.5s;
}