.friendList {
  background-color: #808080;

  width: 57.5vw;
  height: 60vh;
  align-items: center;

  overflow-y: scroll;

  margin-top: 2.5rem;
  margin-left: 5rem;

  display: flex;
  flex-direction: column;

  border-radius: 10pt;
}
