.friendList {
	background-color: #808080;

	width: 57.5vw;
	height: 54vh;
	align-items: center;

	overflow-y: scroll;

	margin-left: 5vh;

	display: flex;
	flex-direction: column;

	border-radius: 10pt;
}
