@font-face {
  font-family: 'MunroSmall';
  src: url('./assets/MunroSmall.ttf');
}

@font-face {
  font-family: 'LowerPixel';
  src: url('./assets/LowresPixel-Regular.otf');
}

html, body {
  font-size: 16px;
  margin: 0;
  min-width: 100vw;
  min-height: 100vh;
}

* {
  font-family: 'MunroSmall';
}

input {
  font-family: 'LowerPixel';
  letter-spacing: 0.5px;
}
