.header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	background-color: #F22828;
	height: 98.6px;
	width: 100vw;
}

.headerText {
	color: white;
	margin: 0;
	font-size: 32pt;

	padding-left: 10vw;
	padding-bottom: 9px;
}

.bottomPad {
	background-color: black;
	height: 11px;
	width: 100vw;
}

.signIn {
	color: white;
	font-size: 17pt;
	margin-right: 2.4rem;
}

.signIn a {
	color: white;
	text-decoration: none;
}

.signIn a:hover {
	text-decoration: underline;
}
