.header {
    display: flex;
    flex-direction: column;
    align-items: left;
    background-color: #F22828;
    height: 98.6px;
    width: 100vw;
}

.headerText {
  padding-top: 1.5rem;
  padding-left: 10vw;
  color: white;
  height: 110px;
  font-size: 40px;
}

.bottomPad {
  background-color: black;
  height: 11px;
  width: 100vw;
}



