.modalContainer {
    position: fixed;
    background: rgba(0, 0, 0, 0.5);
    top: 12rem;
    left: 12rem;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    gap: 2rem;
}

.pokemonContainer {
    height: 96px;
    width: auto;
    border: 1px solid white;
    border-radius: 100%;
    cursor: pointer;
}

.pokemonContainer:hover {
    background-color: #e7e7e7;
}

.spinner {
  width: 30px;
  height: 30px;
  border: 5px solid #fff;
  border-top: 5px solid transparent;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}